@mixin xs {
    @media (max-width:480px) {
        @content;
    }
}

@mixin sm {
    @media (max-width:767px) {
        @content;
    }
}

@mixin md {
    @media (min-width:768px) and (max-width:979px) {
        @content;
    }
}

@mixin xl {
    @media (max-width:1200px) {
        @content;
    }
}