@import "base";
@import "reset";
@import "media_queries";
@import "stars";
@import "title_animation";

body {
    background: var(--dark-gray);
}

nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: auto;

    img {
        width: 50px;
        margin: 10px;
    }

    .link {
        display: flex;
    }

    .link_btn{
        display: flex;
    }

    a {
        display: block;
        height: 40px;
        width: auto;
        margin: 20px 10px;
        padding: 0 10px;

        text-align: center;
        align-items: center;
        justify-content: center;

        background: #005548;
        color: white;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;

        cursor: pointer;

        transition: all 0.1s;
    }

    button:hover {
        background-color: #008a75;
    }
}

// test repo

.dashboard {
    background: #223142;
    opacity: 0.3;
    transition: none;

    &:hover {
        background-color: #354b6b;
    }
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    width: 100%;
    // display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}

main {
    display: flex;
    margin: 40px 0 0;
    color: white;
    opacity: 1;
    font-size: 20px;

    // text-align: center;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .bloc1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background: black;

        section {
            padding: 20px 0;
            background: black;
            color: white;
        }
    }

    section {
        background: var(--light-gray);
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
        width: 600px;

    }

    .description {
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 300px;
    background: #20545C;

    h2 {
        margin: 20px 0;
        font-size: 30px;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: row;

        div {
            width: 400px;
            display: flex;
            align-items: center;
            flex-direction: column;

            font-size: 25px;
            margin: 30px;

            i {
                margin: 20px;
            }
        }
    }
}